<%= @list.name %>

<% @list.movies.each do |movie| %>
  <img src= <%=movie.poster_url%> alt="">
  <p><%= movie.title %></p>
  <p><%= movie.overview %></p>
  <p><%= movie.rating.to_i %></p>
      <% movie.bookmarks.each do |bookmark| %>
        <p> <%= bookmark.comment %> </p>
        <%= link_to "Delete",
                        bookmark_path(bookmark),
                        method: :delete
                        %>
    <% end %>
<% end %>



<p> <%= link_to "Add a movie", new_list_bookmark_path(@list)  %> </p>
<p> <%= link_to "back",  lists_path %></p>

